@import './src/app/styles/variables.scss';
.layout {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  flex-wrap: wrap;
  max-width: 768px;
  font-family: Nunito;
  // position: absolute;
  // top: 0;
  // height: 100%;
  width: 100%;
  button {
    cursor: pointer;
    border: none;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}
.footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
}
